<a href="https://colab.research.google.com/github/Ashwini356/data_engineering/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=1b3fcc5e8c02c826d9ef5124692e10a66a5358ba4f036f45965a45ebe16ff4d7
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql.types import StructField,StructType,StringType,IntegerType
from pyspark.sql.functions import col,lit,cast

In [ ]:
spark = SparkSession.builder.appName('pyspark').getOrCreate()

In [ ]:
data = [('10','Rohit','EE','MTech','JIT ','BHOPAL'),
('11','Rahul','CS','MTech','BIT ','INDORE'),
('12','Ramesh','AG','BTech','SIT ','JABALPUR'),
('13','Renu','EC','BTech','MIT ','UJJAIN'),
('14','Riya','CS','BTech','TIT ','BHOPAL'),
('15','Vaishnavi','CH','BTech','KIT ','RANCHI'),
('16','Shelly','BT','MTech','PIT ','GWALIOR'),
('17','Ashwini','DS','MTech','RGPV ','BHOPAL'),
('18','Sravanthi','DE','MTech','MEDICAPS ','INDORE'),
('19','Ajay','MECH','BTech','CGDI ','INDORE'),
('20','Karunesh','Mech','BTech','PCE ','SURAT'),
('21','Vinita','CE','MTech','IIT ','BOMBAY'),
('22','Ramya','EC','MTech','NIT ','JAIPUR'),
('23','Shobhita','CS','BTech','NIT ','TRICHY'),
('24','Vaitheeswari','HR','MBA','SDPC','DELHI'),
('25','Manobhi','BT','MTech','NIT ','CHANDIGARH'),
('26','Sushmita','CH','MTech','IIT ','MADRAS'),
('27','Maya','EE','BTech','IIIT ','KANCHIPURAM'),
('28','Mahesh','CS','MTech','KCIET ','BHUBNESHWAR'),
('29','Sreeram','ET','BTech','MPCE ','LUCKNOW'),
('30','Lovely','ENE','BTech','IIT ','DELHI')]

In [ ]:
schema = StructType([ \
                     StructField('S.no',StringType(),True),\
                     StructField('S_Name',StringType(),True),\
                    StructField('Branch',StringType(),True),\
                     StructField('Course',StringType(),True),\
                     StructField('College',StringType(),True),\
                     StructField('Location',StringType(),True)\
                     ])

In [ ]:

df= spark.createDataFrame(data=data,schema=schema)

In [ ]:
df.show()

+----+------------+------+------+---------+-----------+
|S.no|      S_Name|Branch|Course|  College|   Location|
+----+------------+------+------+---------+-----------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+----+------------+------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df1=df.select('College','Course','S_Name')

In [ ]:
df1.show()

+---------+------+------------+
|  College|Course|      S_Name|
+---------+------+------------+
|     JIT | MTech|       Rohit|
|     BIT | MTech|       Rahul|
|     SIT | BTech|      Ramesh|
|     MIT | BTech|        Renu|
|     TIT | BTech|        Riya|
|     KIT | BTech|   Vaishnavi|
|     PIT | MTech|      Shelly|
|    RGPV | MTech|     Ashwini|
|MEDICAPS | MTech|   Sravanthi|
|    CGDI | BTech|        Ajay|
|     PCE | BTech|    Karunesh|
|     IIT | MTech|      Vinita|
|     NIT | MTech|       Ramya|
|     NIT | BTech|    Shobhita|
|     SDPC|   MBA|Vaitheeswari|
|     NIT | MTech|     Manobhi|
|     IIT | MTech|    Sushmita|
|    IIIT | BTech|        Maya|
|   KCIET | MTech|      Mahesh|
|    MPCE | BTech|     Sreeram|
+---------+------+------------+
only showing top 20 rows

In [ ]:
df2=df.withColumn('Usn_No',lit("101"))

In [ ]:
df2.show()

+----+------------+------+------+---------+-----------+------+
|S.no|      S_Name|Branch|Course|  College|   Location|Usn_No|
+----+------------+------+------+---------+-----------+------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|   101|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|   101|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|   101|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|   101|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|   101|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|   101|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|   101|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|   101|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|   101|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|   101|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|   101|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|   101|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|   101|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|   101|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|   101|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|   101|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|   101|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|   101|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|   101|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|   101|
+----+------------+------+------+---------+-----------+------+
only showing top 20 rows

In [ ]:
df2.withColumnRenamed('S_Name','Student_Name').show()

+----+------------+------+------+---------+-----------+------+
|S.no|Student_Name|Branch|Course|  College|   Location|Usn_No|
+----+------------+------+------+---------+-----------+------+
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|   101|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|   101|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|   101|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|   101|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|   101|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|   101|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|   101|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|   101|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|   101|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|   101|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|   101|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|   101|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|   101|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|   101|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|   101|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|   101|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|   101|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|   101|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|   101|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|   101|
+----+------------+------+------+---------+-----------+------+
only showing top 20 rows

In [ ]:
df.sort(col('S_Name').desc()).show()

+----+------------+------+------+---------+-----------+
|S.no|      S_Name|Branch|Course|  College|   Location|
+----+------------+------+------+---------+-----------+
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|
|  13|        Renu|    EC| BTech|     MIT |     UJJAIN|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
|  30|      Lovely|   ENE| BTech|     IIT |      DELHI|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
+----+------------+------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.orderBy(col('Location')).show()

+----+------------+------+------+---------+-----------+
|S.no|      S_Name|Branch|Course|  College|   Location|
+----+------------+------+------+---------+-----------+
|  17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
|  14|        Riya|    CS| BTech|     TIT |     BHOPAL|
|  10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
|  28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
|  21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
|  25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
|  24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
|  30|      Lovely|   ENE| BTech|     IIT |      DELHI|
|  16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
|  11|       Rahul|    CS| MTech|     BIT |     INDORE|
|  18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
|  19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
|  12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
|  22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
|  27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
|  29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
|  26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
|  15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
|  20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
|  23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
+----+------------+------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df.groupby('S.no').max().show()

AnalysisException: ignored

In [ ]:
df4 =df.withColumnRenamed('S.no','id')

In [ ]:
df4.show()

+---+------------+------+------+---------+-----------+
| id|      S_Name|Branch|Course|  College|   Location|
+---+------------+------+------+---------+-----------+
| 10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
| 11|       Rahul|    CS| MTech|     BIT |     INDORE|
| 12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
| 13|        Renu|    EC| BTech|     MIT |     UJJAIN|
| 14|        Riya|    CS| BTech|     TIT |     BHOPAL|
| 15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
| 16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
| 17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
| 18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
| 19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
| 20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
| 21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
| 22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
| 23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
| 24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
| 25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
| 26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
| 27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
| 28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
| 29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+---+------------+------+------+---------+-----------+
only showing top 20 rows

In [ ]:
df4.groupby('Branch')

In [ ]:
df4.show()

+---+------------+------+------+---------+-----------+
| id|      S_Name|Branch|Course|  College|   Location|
+---+------------+------+------+---------+-----------+
| 10|       Rohit|    EE| MTech|     JIT |     BHOPAL|
| 11|       Rahul|    CS| MTech|     BIT |     INDORE|
| 12|      Ramesh|    AG| BTech|     SIT |   JABALPUR|
| 13|        Renu|    EC| BTech|     MIT |     UJJAIN|
| 14|        Riya|    CS| BTech|     TIT |     BHOPAL|
| 15|   Vaishnavi|    CH| BTech|     KIT |     RANCHI|
| 16|      Shelly|    BT| MTech|     PIT |    GWALIOR|
| 17|     Ashwini|    DS| MTech|    RGPV |     BHOPAL|
| 18|   Sravanthi|    DE| MTech|MEDICAPS |     INDORE|
| 19|        Ajay|  MECH| BTech|    CGDI |     INDORE|
| 20|    Karunesh|  Mech| BTech|     PCE |      SURAT|
| 21|      Vinita|    CE| MTech|     IIT |     BOMBAY|
| 22|       Ramya|    EC| MTech|     NIT |     JAIPUR|
| 23|    Shobhita|    CS| BTech|     NIT |     TRICHY|
| 24|Vaitheeswari|    HR|   MBA|     SDPC|      DELHI|
| 25|     Manobhi|    BT| MTech|     NIT | CHANDIGARH|
| 26|    Sushmita|    CH| MTech|     IIT |     MADRAS|
| 27|        Maya|    EE| BTech|    IIIT |KANCHIPURAM|
| 28|      Mahesh|    CS| MTech|   KCIET |BHUBNESHWAR|
| 29|     Sreeram|    ET| BTech|    MPCE |    LUCKNOW|
+---+------------+------+------+---------+-----------+
only showing top 20 rows