<a href="https://colab.research.google.com/github/Ashwini356/data_engineering/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 32.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=32e0dac487898bdabfbbfe7c01d5da134ccec31e0b498fe2d9a2278f952ae65c
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
coloumns=["language","users_count"]
data=[('java','2000'),('python','100000'),('scala','3000')]

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('pyspark').getOrCreate()

In [ ]:
data = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"], 
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"], 
        ["5", "bobby", "company 1"]]

In [ ]:
columns = ['ID', 'NAME', 'Company']

In [ ]:
dataframe = spark.createDataFrame(data, columns)

In [ ]:
dataframe.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [ ]:
data1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]

In [ ]:
columns = ['ID', 'NAME', 'Company']

In [ ]:
dataframe = spark.createDataFrame(data, columns)

In [ ]:
dataframe.show()

+---+------+--------+
| ID|  NAME| Company|
+---+------+--------+
|  1|  teju|company1|
|  2|  manu|company1|
|  3|  vani|company2|
|  4| navya|company1|
|  5| roopa|company1|
|  6|swathi|company1|
+---+------+--------+