<a href="https://colab.research.google.com/github/Ashwini356/data_engineering/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=929f110173e0864f8ae6dd3d26a84ecddfa493c73502aa624bc70a9bc33b58a2
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
from pyspark.sql import SparkSession

In [15]:
from pyspark.sql.functions import *

In [4]:
spark=SparkSession.builder.appName('spark').getOrCreate()

In [5]:
data1 = [(100,'Jennifer',4400),
(100,'Jennifer',4400),
(101,'Michael',13000),
(101,'Michael',13000),
 (101,'Michael',13000),
(102,'Pat',6000),
(102,'Pat',6000),
(103,'Den',11000)]

In [6]:
column1 = (['EMP_ID','NAME','SALARY'])

In [9]:
df=spark.createDataFrame(data=data1,schema=column1)

In [10]:
df.show()

+------+--------+------+
|EMP_ID|    NAME|SALARY|
+------+--------+------+
|   100|Jennifer|  4400|
|   100|Jennifer|  4400|
|   101| Michael| 13000|
|   101| Michael| 13000|
|   101| Michael| 13000|
|   102|     Pat|  6000|
|   102|     Pat|  6000|
|   103|     Den| 11000|
+------+--------+------+

In [11]:
df1=df.dropDuplicates()

In [12]:
df1.show()

+------+--------+------+
|EMP_ID|    NAME|SALARY|
+------+--------+------+
|   101| Michael| 13000|
|   100|Jennifer|  4400|
|   102|     Pat|  6000|
|   103|     Den| 11000|
+------+--------+------+

In [13]:
df.show(5)

+------+--------+------+
|EMP_ID|    NAME|SALARY|
+------+--------+------+
|   100|Jennifer|  4400|
|   100|Jennifer|  4400|
|   101| Michael| 13000|
|   101| Michael| 13000|
|   101| Michael| 13000|
+------+--------+------+
only showing top 5 rows

In [16]:
df.orderBy(col('EMP_ID').desc()).show(5)

+------+-------+------+
|EMP_ID|   NAME|SALARY|
+------+-------+------+
|   103|    Den| 11000|
|   102|    Pat|  6000|
|   102|    Pat|  6000|
|   101|Michael| 13000|
|   101|Michael| 13000|
+------+-------+------+
only showing top 5 rows

In [17]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [19]:
empDF.join(deptDF).show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|Marketing|     20|
|     2|    Rose|              1|       2010|         20|     M|  4000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|Marketing|     20|
|     1|   Smith|             -1|       2018|         10|     M|  3000|    Sales|     30|
|     1|   Smith|             -1|       2018|         10|     M|  3000|       IT|     40|
|     2|    Rose|              1|       2010|         20|     M|  4000|    Sales|     30|
|     2|    Rose|              1|       2010|         20|     M|  4000|       IT|     40|
|     3|Williams|              1|       2010|         10|     M|  1000|    Sales|     30|
|     3|Williams|              1|       2010|         10|     M|  1000|       IT|     40|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|Marketing|     20|
|     6|   Brown|              2|       2010|         50|      |    -1|  Finance|     10|
|     6|   Brown|              2|       2010|         50|      |    -1|Marketing|     20|
|     4|   Jones|              2|       2005|         10|     F|  2000|    Sales|     30|
|     4|   Jones|              2|       2005|         10|     F|  2000|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
only showing top 20 rows

In [21]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='left').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [22]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='right').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [23]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='full').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [24]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='semi').show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [25]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='anti').show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [27]:
empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,how='left_anti').show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [32]:
df.select('salary').groupBy('salary').max('salary').show(1)

+------+-----------+
|salary|max(salary)|
+------+-----------+
| 13000|      13000|
+------+-----------+
only showing top 1 row

In [33]:
df.select('salary').groupBy('salary').min('salary').show(1)

+------+-----------+
|salary|min(salary)|
+------+-----------+
| 13000|      13000|
+------+-----------+
only showing top 1 row

In [35]:
df.agg({'salary':'max'}).show()

+-----------+
|max(salary)|
+-----------+
|      13000|
+-----------+

In [36]:
df.agg({'salary':'min'}).show()

+-----------+
|min(salary)|
+-----------+
|       4400|
+-----------+

In [38]:
empDF.createOrReplaceTempView('emp')
spark.sql('select salary,rank()over(order By salary desc) from emp').show( )

+------+----------------------------------------------------------------------------------------------+
|salary|RANK() OVER (ORDER BY salary DESC NULLS LAST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)|
+------+----------------------------------------------------------------------------------------------+
|  4000|                                                                                             1|
|  3000|                                                                                             2|
|  2000|                                                                                             3|
|  1000|                                                                                             4|
|    -1|                                                                                             5|
|    -1|                                                                                             5|
+------+----------------------------------------------------------------------------------------------+