<a href="https://colab.research.google.com/github/Ashwini356/data_engineering/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=de48187d253b90386f4dce40ddb7c7af0fb992a96a8b9ce53bc9d312476d27b4
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('pyspark').getOrCreate()

In [6]:
def create_session():
    spk = SparkSession.builder \
        .appName("Corona_cases_statewise.com") \
        .getOrCreate()
    return spk

In [10]:
def create_RDD(sc_obj, data):
    df = sc.parallelize(data)
    return df

In [4]:
 input_data = [("Uttar Pradesh", 122000, 89600, 12238),
                  ("Maharashtra", 454000, 380000, 67985),
                  ("Tamil Nadu", 115000, 102000, 13933),
                  ("Karnataka", 147000, 111000, 15306),
                  ("Kerala", 153000, 124000, 5259)]

In [7]:
spark = create_session()

In [8]:
sc = spark.sparkContext

In [11]:
rd_df = create_RDD(sc, input_data)

In [12]:
 print(type(rd_df))

<class 'pyspark.rdd.RDD'>

In [13]:
columns=['language','user_count']
data = [('java','20000'),('python','100000'),('scala','3000')]

In [14]:
spark=SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd=spark.sparkContext.parallelize(data)

In [15]:
dfFromRDD1=rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [16]:
columns=['language','user_count']
dfFromRDD1=rdd.toDF(columns)
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- user_count: string (nullable = true)

In [18]:
dfFromRDD2=spark.createDataFrame(rdd).toDF(*columns)

In [19]:
dfFromData2=spark.createDataFrame(data).toDF(*columns)

In [23]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
 ("Michael","Rose","","40288","M",4000),
 ("Robert","","Williams","42114","M",4000),
 ("Maria","Anne","Jones","39192","F",4000),
 ("Jen","Mary","Brown","","F",-1)
 ]

In [24]:
schema = StructType([ \
 StructField("firstname",StringType(),True), \
 StructField("middlename",StringType(),True ), \
 StructField("lastname",StringType(),True), \
 StructField("id", StringType(), True), \
 StructField("gender", StringType(), True), \
 StructField("salary", IntegerType(), True) \
 ])

In [25]:
df = spark.createDataFrame(data=data2,schema=schema)

In [26]:

df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [27]:

df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+